@import "tailwindcss";

@theme {
  --font-heading: "Raleway", "sans-serif";
  --font-subheading: "Lora", "serif";
  --color-regal-white: #f9f9f9;
  --color-regal-white-700: #cccccc;
  --color-regal-black: #1f1f1f;
  --color-accent-green: #717343;
  --color-accent-blue: #bacbd9;
}